[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
discord-py = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
"discord.py" = "*"
loguru = "*"
opencc = "*"
