{
    "is_debug": "If debug, then token_test will be use.",
    "dev_id": [
        "Allowed id list to use dev commands."
    ],
    "google_api": "Google api token.",
    "run": "Run python command, such as python3, py.",
    "token": "Token for formal discord bot.",
    "token_test": "This token will be use if debug is true."
    "restart_channel": Channel ID of Restart Bot,
    "ignore_channels": [Chaneel ID List of Logging Ignore],
    "auto_restart_token": "Auto Restart Bot Token"
}

